@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif; 
}

html {
    font-size: 62.5% ;
    height: 100vh ;
    width: 100vw ;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

body {
    height: 100%;
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: #eee;
    height: 250px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active {
    height: 300px;
    padding-right: 50px;
}

.wrapper.active .header h1 {
    font-size: 2.5rem ;
}

.header-form {
    padding-left: 50px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .header h1 {
    font-size: 3rem;
    text-align: center;
}

.wrapper .header p {
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-align: center;
}

.wrapper .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}16